box{
display:flex;
border:1px solid red;
height:800px;
width:800px;
margin:50px;
background-color:aliceblue;

}
.box{
height: 150px;
width: 200px;
border: 1px dotted royalblue;
}
.box1{
height: 150px;
width: 200px;
border: 1px dotted royalblue;
}
.box2{
    height: 150px;
width: 200px;
border: 1px dotted blue;
    
}
.box3{
   height: 150px;
width: 200px;
border: 1px dotted red; 
}
.box4{
    height: 150px;
width: 200px;
border: 1px dotted orange;
}